
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.navbar{
  background-color: #ffffff;
  border: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-text{
  color: black
}
.navbar-default .navbar-toggle {
  border: 0;
  float: left;
}
/*.navbar-default.navbar-toggle:hover,
.navbar-default.navbar-toggle:focus{
  background-color: none;
}*/
.list-group-item{
  border: 0;
  top: -10px;
}
#hero{
  background-image: url(../images/taxi.jpg);
  background-position: 100% 93%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
.box-hero{
  padding: 30px;
  background-color: #f7b617;
  position: absolute;
  right: 0;
  top: 230px;
  color: #ffffff;
}
.box-hero img{
  width: 80px;
}
.box-hero input{
  border: 0;
  background: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  margin-bottom: 10px;
}
.btn-hero{
  margin: 20px 0;
}
.box-hero h2{
  line-height: 0.4;
}
.title{
  margin : 40px 0;
}
.navbar-brand{
  display: inline-block;
}
@media(max-width: 768px){
  .logo{
    width: 100px;
    position: relative;
    left: 50px;
  }
}
#informacion{
  background-color: #f7b617;
  padding: 40px 40px;
  color: #ffffff;
}
.inf-title{
  font-family: 'Raleway', sans-serif;
}
.inf-texto{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
.border{
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}
.border img{
  width: 300px;
}
#conductor{
  background-image: url(../images/conduce.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.box-conductor{
  position: absolute;
  right: 0;
  background-color: rgba(4, 4, 4, 0.37);
  color: #ffffff;
  height: 90vh;
  box-sizing: border-box;
  padding-top: 120px;
}
.box-conductor h2{
  font-family: 'Raleway', sans-serif;
}
.box-conductor button{
  background-color: #f7b617;
  color: #ffffff;
  border: 0;
}
.box-conductor button,
.box-conductor p{
  font-family: 'Open Sans', sans-serif;
}
