.navbar{
  background-color: #ffffff;
  border: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-text{
  color: black
}
.navbar-default .navbar-toggle {
  border: 0;
  float: left;
}
.navbar-default .navbar-toggle:hover{
  background-color: white;
}
.list-group-item{
  border: 0;
  top: -10px;
}
#hero{
  background-image: url(../images/taxi.jpg);
  background-position: 100% 93%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
.box-hero{
  padding: 30px;
  background-color: #f7b617;
  position: absolute;
  right: 0;
  top: 125px;
  color: #ffffff;
}
.box-hero img{
  width: 80px;
}
.box-hero input{
  border: 0;
  background: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  margin-bottom: 10px;
}
.btn-hero{
  margin: 20px 0;
}
.box-hero h2{
  line-height: 0.4;
}
.texto-hero{
  font-size: 2rem;
  font-weight: 600;
}
.texto-hero img{
  margin-left: 5px;
}
.texto-hero h5{
  margin-top: 17px;
  font-weight: 600;
}
.title{
  margin : 40px 0;
}
.navbar-brand{
  display: inline-block;
}
#informacion{
  background-color: #f7b617;
  padding: 40px 40px;
  color: #ffffff;
}
#informacion h3{
  font-size: 2rem;
}
.inf-texto{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
.border{
  position: relative;
  border: 1px solid #ffffff;
  border-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}
.border img{
  width: 300px;
}
#conductor{
  background-image: url(../images/conduce.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.box-conductor{
  position: absolute;
  right: 0;
  background-color: rgba(4, 4, 4, 0.37);
  color: #ffffff;
  height: 90vh;
  box-sizing: border-box;
  padding-top: 120px;
}
.box-conductor button{
  background-color: #f7b617;
  color: #ffffff;
  border: 0;
}
#conductor p,
#tarifas,
.box-conductor button,
.box-conductor p{
  font-family: 'Open Sans', sans-serif;
}
#tarifas{
  padding: 50px 0;
  background-color: #f7b617;
  color: #ffffff;
}
#conductor h2,
#tarifas h2,
#tarifas button,
.inf-title{
  font-family: 'Raleway', sans-serif;
}
.input-box{
  margin: 25px 0;
}
.input-box img{
  width: 18px;
}
.input-box input{
  background: none;
  border: 0;
  border: 1px solid #ffffff;
  border-radius: 7px;
  width: 290px;
  padding: 5px 8px;
  margin-left: 5px;
  outline: none;
}
.input-box input::placeholder{
  color: #ffffff;
}
#mapa{
  height: 350px;
  z-index: 10;
}
.border-mapa{
  padding: 10px;
  border: 1px solid #ffffff;
}
#footer{
  background-color: #2b2b2b;
  padding: 50px 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#footer ul li{
  list-style-type: none;
}
#footer a{
  margin-right: 7px;
  color: #ffffff;
  font-size: 1.5rem;
}
#footer ul li a{
  color: #ffffff;
  line-height: 2.5;
  text-decoration: none;
}
#footer .flex-end{
  display: flex;
  align-items: flex-end;
  height: 290px;
}
.flex-end img{
  margin: 15px;
  cursor: pointer;
}
@media(max-width: 768px){
  .logo{
    width: 100px;
    position: relative;
    left: 65px;
  }
  #footer .flex-end{
    align-items: flex-start;
    height: 20px;
  }
  .logos-footer img{
    width: 150px;
    margin-top: 30px;
  }
  #tarifas{
    padding: 100px 0;
  }
  .navbar{
    padding: 15px 0 ;
  }
  #footer ul{
    display: inline;
    position: relative;
    top: -30px;
  }
}
